@import url(./fonts/font/stylesheet.css);
@import url(./fonts/UnderCaseType_Fraunces_1.000/FontsWeb/variable-subsets/fonts.css);
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: #F2F2F2;
}

h1,
h2,
h3,
p {
  margin: 0;
}

.container {
  max-width: 1320px;
  padding: 0px 20px;
  margin: 0 auto;
}

.header {
  width: 100%;
}

.header .burger_img {
  display: none;
}

.header .header_box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 40px 0;
}

.header .header_box .navbarbrand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .header_box .header__nav .header__item {
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  padding-left: 0;
}

.header .header_box .header__nav .item__list {
  list-style: none;
}

.header .header_box .header__nav .item__list .list__link {
  text-decoration: none;
  font-family: Barlow;
  color: #83888F;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
}

.header .header_box .header__nav .item__list .list__link:hover {
  color: #333D4B;
}

@media only screen and (max-width: 590px) {
  .header__nav {
    display: none;
  }
  .burger_img {
    display: block !important;
  }
}

.hero__box {
  background-image: url("../images/backgraund_img_one.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 137px;
  padding-left: 85px;
  padding-bottom: 137px;
}

.hero__box_title {
  font-family: Fraunces;
  color: #FEFCF7;
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  margin-bottom: 24px;
}

.hero__box_text {
  max-width: 450px;
  font-family: Barlow;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #FEFCF7;
}

.boxx {
  background-image: url("../../images/page2 bgr1.png");
  background-size: cover;
  height: 450px;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 590px) {
  .hero__box {
    padding-left: 24px;
    padding-right: 24px;
  }
  .hero__box_title {
    text-align: center;
  }
  .hero__box_text {
    max-width: 100% !important;
    text-align: center !important;
  }
}

.our__box {
  margin: 0 auto;
  padding-top: 170px;
  padding-bottom: 160px;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.our__box .our__img {
  border-radius: 12px;
  width: 485px;
  margin-bottom: 80px;
}

.our__box .ourbox_info {
  width: 50%;
  padding-top: 90px;
  padding-left: 120px;
}

.our__box .ourbox_info .ourbox__title {
  font-family: Fraunces;
  color: #333D4B;
  margin-bottom: 32px;
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
}

.our__box .ourbox_info .ourbox__text {
  font-family: Barlow;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #333D4B;
  max-width: 540px;
}

@media only screen and (max-width: 1023px) {
  .our__box .ourbox_info {
    width: 50%;
    padding-top: 10px;
    padding-left: 30px;
  }
}

@media only screen and (max-width: 900px) {
  .our__box {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .our__box {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .ourbox__title {
    max-width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 24px !important;
  }
  .ourbox_info {
    width: 100% !important;
  }
  .ourbox_info .ourbox__text {
    max-width: 100%;
    margin-bottom: 50px;
  }
  .our__img {
    width: 100% !important;
  }
}

.uncompromising {
  width: 100%;
}

.uncompromising__box {
  max-width: 100%;
  background-color: #2C343E;
  border-radius: 12px;
  padding-top: 100px;
  padding-left: 85px;
  padding-bottom: 140px;
  position: relative;
}

.uncompromising__box_img {
  width: 430px;
  height: 460px;
  border-radius: 12px;
  position: absolute;
  z-index: 1;
  right: 80px;
  top: -90px;
}

.uncompromising__box_title {
  font-family: Fraunces;
  color: #FEFCF7;
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  margin-bottom: 32px;
}

.uncompromising__box_text {
  font-family: Barlow;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #FEFCF7;
  max-width: 540px;
}

@media only screen and (max-width: 540px) {
  .uncompromising__box_title {
    font-size: 28px;
  }
  .uncompromising__box {
    padding-right: 20px;
  }
}

@media only screen and (max-width: 1180px) {
  .uncompromising__box {
    width: 100%;
    padding-left: 30px;
  }
  .uncompromising__box_img {
    right: 10px;
  }
}

@media only screen and (max-width: 1080px) {
  .uncompromising__box {
    width: 100%;
    padding-left: 20px;
  }
  .uncompromising__box_img {
    width: 300px;
  }
  .uncompromising_text {
    max-width: 200px;
    margin-left: 20px;
  }
}

@media only screen and (max-width: 1020px) {
  .uncompromising__box {
    width: 100%;
    padding-left: 20px;
  }
  .uncompromising__box_img {
    width: 300px;
  }
  .uncompromising__box_text {
    max-width: 480px;
  }
}

@media only screen and (max-width: 850px) {
  .uncompromising__box {
    width: 100%;
    padding-left: 20px;
    padding-top: 224px;
  }
  .uncompromising__box_img {
    width: 592px;
    height: 320px;
    left: 90px;
    top: -180px;
  }
  .uncompromising__box_title {
    text-align: center;
  }
  .uncompromising__box_text {
    max-width: 480px;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 768px) {
  .uncompromising__box {
    width: 100%;
    padding-left: 20px;
    padding-top: 224px;
  }
  .uncompromising__box_img {
    width: 60%;
    left: 20%;
    right: 20%;
    top: -180px;
  }
}

.headquarter .headquarters__box {
  width: 90%;
  margin: 0 auto;
  padding-top: 150px;
  padding-bottom: 170px;
}

.headquarter .headquarters__box_title {
  font-family: Fraunces;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #83888F;
}

.headquarter .headquarters__box .country {
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.headquarter .headquarters__box .country__box {
  padding-top: 70px;
  width: 30%;
}

.headquarter .headquarters__box .country__box_img {
  margin-bottom: 46px;
}

.headquarter .headquarters__box .country__box_title {
  font-family: Fraunces;
  color: #333D4B;
  margin-bottom: 24px;
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 36px;
}

.headquarter .headquarters__box .country__box_text {
  font-family: Barlow;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #333D4B;
  max-width: 120px;
}

@media only screen and (max-width: 900px) {
  .country__box_title {
    font-size: 24px !important;
    font-style: normal !important;
    font-weight: 900 !important;
    line-height: 36px !important;
  }
}

@media only screen and (max-width: 780px) {
  .headquarters__box_title {
    text-align: center;
  }
  .country {
    -ms-flex-wrap: wrap !important;
        flex-wrap: wrap !important;
  }
  .country__box {
    width: 100% !important;
    text-align: center !important;
  }
  .country__box_text {
    margin: 0 auto !important;
  }
}

.footer {
  width: 100%;
  padding-bottom: 88px;
}

.footer .footer_box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 85px;
  padding-right: 48px;
  padding-top: 48px;
  padding-bottom: 48px;
  background-color: #2C343E;
}

.footer .footer_box .footerboxmini {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .footer_box .footerbrand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .footer_box .networks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .footer_box .networks__logo:hover {
  background-color: #FDD6BA;
}

.footer .footer__nav .footer__item {
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  padding-left: 0;
}

.footer .footer__nav .item__list {
  list-style: none;
}

.footer .footer__nav .item__list .list__link {
  text-decoration: none;
  font-family: Barlow;
  color: #83888F;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
}

.footer .footer__nav .item__list .list__link:hover {
  color: #fff;
}

@media only screen and (max-width: 850px) {
  .footer_box {
    padding-left: 30px !important;
    padding-right: 30px !important;
  }
}

@media only screen and (max-width: 768px) {
  .footerboxmini {
    display: block !important;
    width: 57% !important;
  }
  .footer_box {
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
  .footerbrand {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__item {
    width: 100% !important;
  }
  .networks {
    margin: 0 auto;
  }
}

@media only screen and (max-width: 540px) {
  .footer__item {
    display: block !important;
    text-align: center;
    margin-bottom: 24px !important;
  }
  .item__list {
    margin-bottom: 24px;
  }
  .footerboxmini {
    width: 100% !important;
  }
  .footerbrand {
    margin-bottom: 21px;
  }
  .footerbrand__link_img {
    height: 22.15385px !important;
    width: 187.38461px !important;
  }
  .footerbrand__links_img {
    height: 22.15385px !important;
    width: 22.15385px !important;
  }
}

.second {
  padding-top: 150px;
}

.second_box {
  width: 100%;
  background-color: #2C343E;
  padding: 110px 80px;
}

.box_circle {
  width: 760px;
  position: relative;
  margin-bottom: 70px;
}

.circle_box {
  width: 760px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  top: -14px;
}

.cirkle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid #0E8784;
}

.liner_box {
  margin: 0 auto;
  width: 730px;
  border: 2px solid #FDD6BA;
}

.pick_box {
  width: 1050px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.pick {
  width: 300px;
  padding-right: 50px;
}

.pick__img {
  margin-bottom: 38px;
}

.pick_title {
  max-width: 215px;
  margin-bottom: 40px;
  font-family: Fraunces;
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 36px;
  color: #FEFCF7;
}

.pick_text {
  font-family: Barlow;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #FEFCF7;
}

.howdo {
  width: 100%;
  padding-left: 85px;
  padding-left: 85px;
  padding-bottom: 168px;
}

.howdo__box {
  width: 100%;
  padding-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.howdo__box .preferences {
  width: 40%;
}

.howdo__box .preferences__title {
  font-family: Fraunces;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #83888F;
  margin-bottom: 24px;
}

.howdo__box .preferences__title:hover {
  color: black;
}

.howdo__box .preferences__title:active {
  opacity: 0.5;
}

.howdo__box .strongnumber {
  font-family: Fraunces;
  color: #83888F;
  margin-right: 28px;
}

.howdo__box .strongnumber:hover {
  color: #0E8784;
}

.howdo__box .strongnumber:active {
  opacity: 0.5;
}

.howdo__box .preferences_liner {
  width: 255px;
  height: 2px;
  background: #83888F;
  margin-bottom: 24px;
}

.howdo__box .preferences_liner:hover {
  background-color: black;
}

.inputbox {
  width: 55%;
}

.form {
  width: 100%;
}

.label_title {
  max-width: 60%;
  display: block;
  font-family: Fraunces;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #333D4B;
}

.label {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 100px;
}

.chekbox {
  width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.chekbox__coffee {
  width: 230px;
  height: 200px;
  padding: 38px 28px;
  background: #F4F1EB;
  border-radius: 8px;
}

.chekbox__coffee:hover {
  background: #0E8784;
  border-radius: 8px;
}

.chekbox__coffee__title {
  width: 60%;
  font-family: Fraunces;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #333D4B;
}

.chekbox__coffee__text {
  min-width: 170px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #333D4B;
}

.visually-hiddens {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.visually-hiddens:checked ~ .lable_block {
  opacity: 100%;
  height: 100px;
}

.visually-hiddens:checked ~ .backs {
  background-image: url(../../icons/top.svg);
}

.backs {
  background-image: url(../../icons/bottom.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
}

.lable_block {
  width: 100% !important;
  opacity: 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 2px;
  width: 100%;
  -webkit-transition: 1s all linear;
  transition: 1s all linear;
}

.box_order {
  width: 100%;
  background: #2C343E;
  padding: 47px 64px;
  margin-bottom: 40px;
}

.box_order .order_info {
  font-family: Barlow;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  /* identical to box height, or 162% */
  text-transform: uppercase;
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.5;
  margin-bottom: 8px;
}

.box_order .order_text {
  font-family: Fraunces;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 40px;
  /* or 167% */
  color: #FFFFFF;
}

.box_order b {
  color: #0E8784;
  font-family: Fraunces;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 40px;
}

.bt {
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form_button {
  height: 56px;
  width: 217px;
  font-family: Fraunces;
  background: #E2DEDB;
  border: 0;
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 25px;
  /* identical to box height, or 139% */
  text-align: center;
  color: #FEFCF7;
  border-radius: 6px;
  margin-left: auto;
}
/*# sourceMappingURL=main.css.map */