.footer {
    width: 100%;
    padding-bottom: 88px;
    .footer_box {
        .footerboxmini {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 85px;
        padding-right: 48px;
        padding-top: 48px;
        padding-bottom: 48px;
        background-color: #2C343E;
        .footerbrand {
            display: flex;
        }
        .networks {
            display: flex;
            width: 100px;
            justify-content: space-between;
            &__logo:hover {
                background-color: #FDD6BA;
            }
        }
    }
    .footer__nav {
        .footer__item {
            width: 300px;
            display: flex;
            justify-content: space-between;
            list-style: none;
            padding-left: 0;
        }
        .item__list {
            list-style: none;
            .list__link {
                text-decoration: none;
                font-family: $fontBarlow;
                color: $linkColor;
                font-style: normal;
                font-weight: bold;
                font-size: 12px;
                line-height: 15px;
                &:hover {
                    color: #fff;
                }
            }
        }
    }
}

@media only screen and(max-width:850px) {
    .footer_box {
        padding-left: 30px!important;
        padding-right: 30px!important;
    }
}

@media only screen and(max-width:768px) {
    .footerboxmini {
        display: block!important;
        width: 57%!important;
    }
    .footer_box {
        justify-content: center!important;
    }
    .footerbrand {
        justify-content: center;
    }
    .footer__item {
        width: 100%!important;
    }
    .networks {
        margin: 0 auto;
    }
}

@media only screen and(max-width:540px) {
    .footer__item {
        display: block!important;
        text-align: center;
        margin-bottom: 24px!important;
    }
    .item__list {
        margin-bottom: 24px;
    }
    .footerboxmini {
        width: 100%!important;
    }
    .footerbrand {
        margin-bottom: 21px;
    }
    .footerbrand__link_img {
        height: 22.153846740722656px!important;
        width: 187.38461303710938px!important;
    }
    .footerbrand__links_img {
        height: 22.153846740722656px!important;
        width: 22.153846740722656px!important;
    }
}