.header {
    .burger_img {
        display: none;
    }
    width: 100%;
    .header_box {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 40px 0;
        .navbarbrand {
            display: flex;
        }
        .header__nav {
            .header__item {
                width: 300px;
                display: flex;
                justify-content: space-between;
                list-style: none;
                padding-left: 0;
            }
            .item__list {
                list-style: none;
                .list__link {
                    text-decoration: none;
                    font-family: $fontBarlow;
                    color: $linkColor;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 12px;
                    line-height: 15px;
                    &:hover {
                        color: #333D4B;
                    }
                }
            }
        }
    }
}

@media only screen and ( max-width:590px) {
    .header__nav {
        display: none;
    }
    .burger_img {
        display: block!important;
    }
}